
.createAlert{
	padding-top: 10px !important;
	.alert-wrapper{
		max-width: 100%;
	    min-width: 90%;
	}
	.alert-message{
		display:none !important;
	}
	.alert-input-group{
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
	.alert-button:last-child{
		margin-top:2px !important;
	}
}


page-login {
	#meBody{
		button, button:hover{
			background-color: #Fff !important;
		}

		span{
			color: $primario;
			background-color: none !important;
		}
	}
	.boton-menu{
			background: $primario;
		    height: 50px;
  			border-radius: 14px;

			ion-icon{
				position: absolute;
			    left: 20px;
			    border-right: 1px solid;
			    padding-right: 20px;
			    font-size: 25px;
			    border-color: $tex_color;
			}
	}
}
