<ion-header id="header">
  <ion-navbar>
    <ion-title>INICIAR SESION</ion-title>
   
   <ion-buttons end>
   </ion-buttons>
  </ion-navbar>

</ion-header>
 
<ion-content padding class="card-background-page">


<ion-row>
  <h6 style="color: #808080;
    text-align: center; margin-top: 16px; padding:0 6px;">Para poder facilitarte las polizas a tu nombre, necesitamos que ingreses con tu email y contraseña.</h6>
</ion-row>

<div class="login" padding>
    <form (ngSubmit)="login(registerCredentials)" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"  required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full large class="boton-menu"  type="submit" [disabled]="!registerForm.form.valid">Iniciar sesión</button>
        </ion-col>
      </ion-row>
      


    </form>
  </div>


<div id="meBody">

    <ion-row>
        <ion-col col-5 col-offset-1>
            <button ion-button button-dark clear color="primary" (click)="registrarse()">Nuevo usuario</button>
        </ion-col>
        <ion-col col-5>
            <button ion-button button-dark clear color="primary"  (click)="openRestore()">Recuperar cuenta</button>
        </ion-col>
    </ion-row>
    
</div>

</ion-content>
