<!--
  Generated template for the GenerarSiniestroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CREAR SINIESTRO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


<ion-row>
  <ion-col>
  <h6 style="color: #808080;
    text-align: center; margin-top: 16px;">Este formulario es solo para guardar los datos. <br> <strong>NO CONFIGURA UNA DENUNCIA</strong>
    <br>Luego llamanos.</h6>
    </ion-col>
</ion-row>

          <h6 class="me-title-section">MIS DATOS</h6>
      
      <ion-item>
        <ion-label stacked>NOMBRE: *</ion-label>
        <ion-input [(ngModel)]="form.mi_nombre" type="text" placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label stacked>EMAIL: *</ion-label>
        <ion-input [(ngModel)]="form.mi_email" type="text" placeholder=""></ion-input>
      </ion-item>


          <h6 class="me-title-section">DATOS DEL TERCERO (La otra persona)</h6>

<ion-list inset>
       <ion-item id="dominio">
        <ion-label stacked>DOMINIO: *</ion-label>
        <ion-input [(ngModel)]="form.dominio" type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>NOMBRE:</ion-label>
        <ion-input [(ngModel)]="form.nombre" type="text" placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label stacked>EMAIL: *</ion-label>
        <ion-input [(ngModel)]="form.email" type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>ASEGURADORA: *</ion-label>
        <ion-input [(ngModel)]="form.aseguradora" type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>TELEFONO 01:</ion-label>
        <ion-input [(ngModel)]="form.telefono_01" type="text" placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label stacked>TELEFONO 02:</ion-label>
        <ion-input [(ngModel)]="form.telefono_02" type="text" placeholder=""></ion-input>
      </ion-item>



      <ion-item>
        <ion-label stacked>LUGAR:</ion-label>
        <ion-input [(ngModel)]="form.lugar" type="text" placeholder=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked> MARCA: </ion-label>
        <ion-input [(ngModel)]="form.marca" type="text" placeholder=""></ion-input>
      </ion-item>
    
     <ion-item>
        <ion-label stacked> MODELO: </ion-label>
        <ion-input [(ngModel)]="form.modelo" type="text" placeholder=""></ion-input>
      </ion-item>
    
    
    
      <ion-item style="padding: 0px;">
          <ion-label color="primary" stacked>FECHA</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY HH:mm" cancelText="Cancelar" doneText="Aceptar" monthShortNames="[Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic]" [(ngModel)]="form.fecha"></ion-datetime>
      </ion-item>
      


    <ion-item>
        <ion-label stacked> DESCRIPCION: </ion-label>
        <ion-input [(ngModel)]="form.descripcion" type="text" placeholder=""></ion-input>
      </ion-item>
<!-- 
<h6 class="me-title-section">NOTA DE VOZ</h6>
    <ion-item>

    <button color="dark" class="boton-menu" full ion-button submit  (click)="saveAudio()"> GRABAR </button>
    <button color="dark" class="boton-menu" full ion-button submit  (click)="stopAudio()"> PARAR </button>
    <button color="dark" class="boton-menu" full ion-button submit  (click)="playAudio()"> PLAY </button>
    
    </ion-item> -->


<h6 class="me-title-section">IMAGENES</h6>
    <ion-item>
          <ion-slides  id="slider" class="ion-scroll-zoom">
           <ion-slide *ngFor="let img of form.images; let i = index; " (click)="deleteImage(form,img,i)">
             <img [src]="img" style="max-width: 100% !important; max-height: 200px;">
             <span class="spanImage">{{i}}</span>
          </ion-slide>
          </ion-slides>
    </ion-item>

    <ion-item>
            <button color="dark" class="boton-menu" full ion-button submit  (click)="addImageToSlider()">   <ion-icon name="add"></ion-icon> </button>      
    </ion-item>

    </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
  <ion-row>
  <ion-col col-4>
      <button color="danger" class="boton-menu" full ion-button submit [disabled]="!modificar" (click)="delete(form)"> ELIMINAR</button>
  </ion-col>

  <ion-col col-8>
      <button color="dark" class="boton-menu" full ion-button submit [disabled]="!form.nombre || !form.email || !form.dominio || !form.aseguradora" (click)="Save(form)">{{ accion }}</button>
  </ion-col>

  <!-- <ion-col col-2>
      <button color="secondary" class="boton-menu" full ion-button submit  [disabled]="!modificar" (click)="Send(form)">  <ion-icon name="send"></ion-icon></button>
  </ion-col>
   -->
  </ion-row>
  </ion-toolbar>
</ion-footer>
