page-generar-siniestro {
	
	ion-header{
		img{
		    max-height: 40px;
   			 padding: 4px;
		}
		
		ion-title{    
		    color: gray;
		}

	  	}


	 item{
	     padding: 4px 20px !important;
	    border-left: 1px solid #32db64 !important;
	    margin: 12px 0 !important;
	 }
	 
	.spanImage{
	    position: absolute;
	    right: 0px;
	    bottom: 4px;
	    background: $primario;
	    color: #fff;
	    padding: 0px 14px;
	 }

	 #dominio input{
		 text-align: center; 
		 text-transform: uppercase 
	 }
}

.ios {
	ion-title{    
		    padding: 0px !important;
	}

	ion-label#lbl-11.label.label-ios.label-ios-primary{
		color: #393939;
		padding-left: 16px;
	}
}
