page-lista-aseguradoras {
	

	ion-header{
		img{
		    max-height: 40px;
   			 padding: 4px;
		}
		
		ion-title{    
		    color: gray;
		}

	  	}

	 ion-item{
	     padding-left: 10px !important;
	 }
}

