<!--
  Generated template for the ListaAseguradorasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header id="header">
  <ion-navbar>
    <ion-row>
         	
      <ion-col col-12 text-left>
           <ion-title>ASEGURADORAS</ion-title>
      </ion-col> 
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>


<ion-row>
	 <ion-searchbar
	  [(ngModel)]="searchTerm" [showCancelButton]="true" placeholder="Buscar aseguradora..." cancelButtonText="Limpiar" (ionInput)="setFilteredItems()" [debounce]="800"  >

	</ion-searchbar>
</ion-row>

<!---->
<ion-row>
  <h6 style="color: #808080;
    text-align: center;">Recorda que tambien podes solicitar asistencia al hogar si tu seguro ofrece dicho servicio.</h6>
</ion-row>

		<ion-list>
		 <ion-item-sliding *ngFor="let a of aseguradoras; let i = index; " (click)="openOpt(a)">
   		
   		<ion-item>
		    <ion-thumbnail item-start>
		      <img [src]="a.logo" style="height: auto;">
		    </ion-thumbnail>
		    <h2>{{a.nombre}}</h2>
		    <p>Servicio de grúa: {{a.grua}}</p>
		    <!--  <button ion-button item-end color="secondary" (click)="callGrua(a.grua)">
		        <ion-icon name="call"></ion-icon>
		     </button> -->
		  </ion-item>

<!-- 
		    <ion-item-options side="left">
		      <button ion-button color="primary" (click)="visitWeb(a.web)">
		        <ion-icon name="link"></ion-icon>
			  </button>
		     
		    </ion-item-options>
		    
		    <ion-item-options side="right">
		      <button ion-button color="primary" (click)="shareViaMail(a)">
		        <ion-icon name="mail"></ion-icon>
		      </button> -->
		      <!-- 
		       <button ion-button color="secondary" (click)="shareWhatsaps(a)">
		        <ion-icon name="logo-whatsapp"></ion-icon>
		       </button> -->
<!-- 		    </ion-item-options>
 -->

		  </ion-item-sliding>
		</ion-list>


</ion-content>
