<!--
  Generated template for the ListaSiniestrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="header">
  <ion-navbar hideBackButton> 
      

    <ion-row>

    <button class="back-manual" ion-button   (click)="backHome()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    
      <ion-col col-12 text-left>
           <ion-title>MIS POLIZAS</ion-title>
      </ion-col> 
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list style="margin-top: 20px;">
	
	  <ion-item class="item-poliza" *ngFor="let p of polizas; let i = index; " >
	   	<span>Poliza de  {{ p.tipo }}.</span>
	    <h6>{{ p.nombre }}</h6>
	    <div [hidden]="p.ocultar">
	  
	    <p>NÚMERO: {{ p.nro }}</p>
	    <p>ULT. ACTUALIZACIÓN: {{ p.ult_actualizacion }}</p>
	    <button class="ver-boton" ion-button button-dark item-end (click)="viewDocument(p.archivo)">  <ion-icon name="eye"></ion-icon>
		</button>
	    <button class="download-boton" ion-button button-dark item-end (click)="downloadDocument(p.archivo)">  <ion-icon name="download"></ion-icon>
		</button>
		</div>
	  </ion-item>

	
	</ion-list>


</ion-content>


<ion-footer>
     <ion-buttons start>
		<button class="close-session" ion-button button-dark pull-right (click)="closeSession()">Cerrar sesión</button>
	</ion-buttons>
	
	<ion-buttons end>
		<button class="refresh close-session" ion-button button-dark pull-right (click)="reSincPolizas()">
		        <ion-icon name="refresh"></ion-icon>
		</button>
	</ion-buttons>
</ion-footer>
