page-mis-polizas {

	.back-manual{
		background: $secundario;
		position: absolute;
		left: 0px;
		padding:0px;
		margin:0px;
		top:0px;
		min-height: 64px;
		min-width: 100px;
		height: 64px;
		z-index: 5;
	    color: #fff;
		white-space: initial;
	    margin: 0px;
	    width: 100px;
	}

	.refresh{
		float: left;
		position: absolute;
		left: 0px;
		top:0px;

	}
	
	.item-poliza{
			span{
			    font-size: 8px;
			    color: $primario;
			    text-transform: uppercase;
			}
			h6{
		   	 	font-size: 20px;
    			color: #393939;
			}
			p{

			}
			button{
				ion-icon{
					color: #ededed;
					font-size: 15px !important;
				}
				padding: 2rem 1rem;
				margin: 0px;
			}
			.ver-boton{
				background: $primario;
			}
			.download-boton{
				background: $primario;

			}
	}
	.close-session{
			float: right;
			background: $secundario;
	}
}
