
page-home {
	
	ion-header{
		img{
		    max-height: 40px;
   			 padding: 4px;
		}
		
		ion-title{    
		    color: gray;
		}

	    background: #ffffff;
	    height: 55px;
	    border-bottom: 2px solid #2ec95c;
	}
	
	ion-grid{
	 	padding-top: 10px !important;
		 border-top: 2px solid $primario;
	}
	.boton-menu{
			background: $primario;
		    height: 50px;
  			border-radius: 14px;

			ion-icon{
				position: absolute;
			    left: 20px;
			    border-right: 1px solid;
			    padding-right: 20px;
			    font-size: 25px;
			    border-color: $tex_color;
			}
	}

	.boton-menu{
			background: $primario;
		    height: 50px;
  			border-radius: 14px;

			ion-icon{
				position: absolute;
			    left: 20px;
			    border-right: 1px solid;
			    padding-right: 20px;
			    font-size: 25px;
			    border-color: $tex_color;
			}
	}
	.boton-menu-salir{
			    background: #525252;
			    height: 40px;
			    border-radius: 14px;
			    margin-top: 20px;
	}

	.divisor{
	    height: 1px;
	    background: #adadad;
	    width: 10%;
	    padding: 0px;
	}
	 
    ion-slide {
      background-color: $secundario;
    }
 
    ion-slide img {
      width: auto !important;
    }



}


.ios  page-home{

	.boton-menu-salir{
		display: none;
	}	
	
	ion-header [text-center]{
		padding: 0px !important;
	}

	.logo-principal{
		height: 64px;
		img{
			max-height: 50px;
			padding: 4px;
			margin-top: 6px;
		}
	}

	.boton-menu{
		ion-icon{
			top: 14px;
		}
	}	
} 
