
<ion-header id="header">
  <ion-navbar hideBackButton="true">
    <ion-row>
      
      <ion-col col-2 class="logo-principal" (click)="visitarWeb(null)">
         <img src="./assets/images/logo-header.png" slide-lazy>
      </ion-col>

      <ion-col col-12 text-center>
<ion-title (click)="visitarWeb(null)">{{ empresa.nombre }}</ion-title>
       </ion-col> 
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content id="contenido">

  <ion-slides  id="slider" style="max-height: 180px;" class="ion-scroll-zoom">
      <ion-slide id='slide' *ngFor="let b of banners" style='height:auto !important; max-height: 180px' (click)="visitarWeb(b.url_link)">
               <img [src]="b" slide-lazy style="width:100% !important">
      </ion-slide>
  </ion-slides>

<ion-grid>
<!--Botones-->

  <ion-row>
        <ion-col col-10 offset-1>
        <!--<ion-icon name="car"></ion-icon>-->
          <button ion-button (click)="goToPolizas()" class="boton-menu" full>  MIS POLIZAS <ion-icon name="copy"></ion-icon> </button>
      </ion-col>
  </ion-row>

  <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button (click)="goToContacto()" class="boton-menu" full> <ion-icon name="call"></ion-icon> CONTACTO </button>
      </ion-col>
  </ion-row>

    <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button (click)="goToAseguradoras()" class="boton-menu" full> <ion-icon name="ios-construct"></ion-icon> REMOLQUES </button>
      </ion-col>
  </ion-row>


    <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button (click)="goToSiniestros()" class="boton-menu" full> <ion-icon name="car"></ion-icon> SINIESTROS </button>
      </ion-col>
  </ion-row>

    <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button (click)="goToCotizar()" class="boton-menu" full> <ion-icon name="list-box"></ion-icon> COTIZAR </button>
      </ion-col>
  </ion-row>
    <ion-row>
        <ion-col col-10 offset-1>
          <hr class="divisor">
          <button ion-button (click)="goToDesktop()" class="boton-menu-salir" full> SALIR </button>
      </ion-col>
  </ion-row>

<!-- 
 <ion-row>
        <ion-col col-10 offset-1>
          <hr class="divisor">
          <button ion-button (click)="changeUser()"  full> Set Usuario </button>
      </ion-col>
  </ion-row>

 <ion-row>
        <ion-col col-10 offset-1>
          <hr class="divisor">
          <button ion-button (click)="getAlldocs()"  full> Get Docs </button>
      </ion-col>
  </ion-row>
 -->

  </ion-grid>
</ion-content>



