// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.button-effect{ 
		background: $primario !important;
	}
	
.alert-md .alert-button{
	color: #ededed ∫!important;
}

.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary{
	color: $secundario !important;
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
	color: $primario !important;
}

.button-ios.activated {
	background: $secundario !important;
}

//actionshhet
.action-sheet-container{
	padding: 0px !important;
}


.input-has-focus{
	color: $secundario !important;
}

.item-input-has-focus{
	color: $secundario !important;
}

.action-sheet-container .action-sheet-title{
    padding: 10px 12px;
    background: $primario;
    color: #fff;
    text-transform: uppercase;
    border-top: 4px solid $secundario;
    text-align: center;
}

//ionbackdrop
ion-backdrop{
	    opacity: 0.9;
    background: #2f2f2f;
}

ion-searchbar .searchbar-input{
    background: #dedede !important;
    color: #393939 !important;
    border-bottom: 4px solid $secundario !important;
    box-shadow: none !important;

}
ion-searchbar{
	    margin-top: 10px;
}
.logo-principal	{
     position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background: $primario;
    height: 60px;
    text-align: center;
    line-height: 84px;
    width: 100px !important;
    min-width: 100px;
}

ion-header {
	.toolbar-background{
	    border-color: #b2b2b2;
	    background: $primario;
	    color: #fff;
	}
}

.toolbar-title{
	color:#fff;
	text-align: right;
}

 .back-button.show-back-button{
    background: #393939;
    height: 60px;
    color: #fff;
    margin: 0px;
    width: 100px;
}

.alert-button{
	color: #393939;
}	
.button-md:hover:not(.disable-hover){
	    background-color: #525252 !important;
}

//alert
	.alert-wrapper{
		border-radius: 16px !important;
	    padding: 0px;
	}
	.alert-wrapper .alert-head{
		color: $tex_color;
		text-align: center;
	    background: $primario;
	    padding: 10px 0;
	    border-top-right-radius: 14px;
	    border-top-left-radius: 14px;
	}

	.alert-wrapper .alert-message{
		padding: 20px 20px !important;
	    text-align: left;
	}

//NAVBAR
ion-navbar{
	min-height:55px;
	padding:0px !important;
}
//HOME - CONTACTO
	.contactoAlert .alert-button-group{
	    display: flex;
	    flex-direction: column;
	    text-align: center;
	}

	.contactoAlert .alert-button{
		background: #393939;
	    color: #fff;
	    text-align: center;
	    width: 100%;
	    margin-top: 6px;
	}

	.contactoAlert .alert-button:last-child{
		margin-top:20px;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
		background: #d8d7d7;
    	color: #1f1f1f;
	}

	.contactoAlert .alert-button .button-inner{
		    justify-content: space-around;
	}



//ASEGURADORAS

ion-item-sliding {
    border-left: 2px solid $primario;
    margin: 8px 0;
}


//IOS

.ios{

	.back-button.show-back-button{
		height: 66px !important;
		width: 66px !important;
	}
	.action-sheet-wrapper{
		width: 96%;
	}
	ion-searchbar{
		margin-top: 0px !important;
	}
	#header .back-button{
		background: #393939;
		height: 74px;
		color: #fff;
		margin: 0px;
		width: 70px;
	}
	ion-title{
		position: relative;
		margin: 0px;
		padding: 0px;
		padding-top: 0px !important;
		
		.toolbar-title{
			font-size: 2rem;
			padding-right: 20px
		}

	}

	
	.contactoAlert .alert-button{
		max-width: 90% !important;
	}	
	
	.contactoAlert .alert-button:last-child{
		margin-top: 10px;
		margin-bottom: 20px;
		border-bottom-right-radius: 0px; 
		border-bottom-left-radius: 0px; 
	}

	.contactoAlert .alert-button-group{
		max-width: 90%;
		margin-left: 10%;
	}

}