page-generar-cotizacion {
	
	ion-header{
		img{
		    max-height: 40px;
   			 padding: 4px;
		}
		
		ion-title{    
		    color: gray;
		}

	  	}

	  	#tipo{
	  	    border-bottom: 6px solid $primario;
    		text-align: center;
    		margin-bottom: 20px;
	  	}


		 .me-title-section{
			 text-align: center;
		    font-size: 14px;
		    color: #ffffff;
		    background: $primario;
		    padding: 8px 6px;
		 }


#combustible{
	#tipo{
		max-width: 70%;
		text-align: left;
	    margin-left: 30% !important;
	    border: none;
    }
}

}


.single-select-alert{
	.alert-title{
	    padding: 10px 2px;
    	font-size: 18px;
	}
	
	button:child{
		color:#393939;
	}
	
	button:last{
		color: $primario;
	}
	.alert-message{
		display:none !important;
	}

	.alert-radio-icon{
		border-color: $primario;
	}
	
	[aria-checked=true] .alert-radio-icon{
		border-color: $primario;
	}
	[aria-checked=true] .alert-radio-label{
		color: $primario;
		text-align: center;
	}

	.alert-radio-inner{
		background-color: $secundario
	}
	
}


.ios{
	.alert-ios [aria-checked=true] .alert-radio-inner{
		display: none;
	}
}