<!--
  Generated template for the GenerarSiniestroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>COTIZAR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!---->
<ion-row>
  <h6 style="color: #808080;
    text-align: center;">Para iniciar el tramite de una cotizacion, seleccione que desea asegurar...</h6>
</ion-row>

<ion-item id="tipo">

	  <ion-label stacked >¿QUE QUIERO ASEGURAR?</ion-label>

	  <ion-select  cancelText="Cancelar" okText="Seleccionar" class="tipoAlert" [(ngModel)]="form.tipo">
	    <ion-option value="AUTO">AUTO</ion-option>
	    <ion-option value="HOGAR">HOGAR</ion-option>
	    <ion-option value="NEGOCIO">NEGOCIO</ion-option>
	    <ion-option value="ART">ART</ion-option>
	  	<ion-option value="OTROS">OTROS</ion-option>

	  </ion-select>

	</ion-item>

<ion-list inset>
        <ion-label stacked class="me-title-section">DATOS GENERALES</ion-label>

	   <ion-item>
        <ion-label stacked>NOMBRE:</ion-label>
        <ion-input [(ngModel)]="form.nombre" type="text" placeholder=""></ion-input>
      </ion-item>

       <ion-item>
        <ion-label stacked>EMAIL:</ion-label>
        <ion-input [(ngModel)]="form.email" type="text" placeholder=""></ion-input>
      </ion-item>

        <ion-item>
        <ion-label stacked>TELEFONO:</ion-label>
        <ion-input [(ngModel)]="form.tel" type="text" placeholder=""></ion-input>
      </ion-item>
	
</ion-list>


<!--FORMULARIO DE HOGAR-->
<ion-list inset  [hidden]="form.tipo != 'HOGAR'">
	 

    <ion-item>
        <ion-label stacked> LOCALIDAD: </ion-label>
        <ion-input [(ngModel)]="form.localidad_hogar" type="text" placeholder=""></ion-input>
      </ion-item>

    <ion-item>
        <ion-label stacked> ARTICULOS DE VALOR: </ion-label>
        <ion-input [(ngModel)]="form.valores_hogar" type="text" placeholder=""></ion-input>
      </ion-item>

     <ion-item>
        <ion-label stacked> AMBIENTES: </ion-label>
        <ion-input [(ngModel)]="form.ambientes_hogar" type="number" placeholder=""></ion-input>
      </ion-item>

</ion-list>
<!--FORMULARIO DE HOGAR-->

<!--FORMULARIO DE NEGOCIO-->
<ion-list inset  [hidden]="form.tipo != 'NEGOCIO'">
   

    <ion-item>
        <ion-label stacked> Localidad: </ion-label>
        <ion-input [(ngModel)]="form.localidad_negocio" type="text" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked> Actividad: </ion-label>
        <ion-input [(ngModel)]="form.actividad_negocio" type="text" placeholder=""></ion-input>
    </ion-item>


  <ion-item>
  <ion-label stacked>METROS CUADRADOS:  {{ form.metros_negocio }}</ion-label>
    <ion-range max="500" step="10" [(ngModel)]="form.metros_negocio" color="green" pin="true">
           <ion-icon small range-left name="ion-ios-home-outline"></ion-icon>
         <ion-icon range-right name="ion-ios-home"></ion-icon>
    </ion-range>
  </ion-item>

</ion-list>
<!--FORMULARIO DE NEGOCIO-->


<!--FORMULARIO DE ART-->
<ion-list inset  [hidden]="form.tipo != 'ART'">
      
        <ion-item>
        <ion-label stacked> EMPRESA: </ion-label>
        <ion-input [(ngModel)]="form.empresa_art" type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked> CAPITAS: </ion-label>
        <ion-input [(ngModel)]="form.capitas_art" type="text" placeholder=""></ion-input>
      </ion-item>
	
   <ion-item style="margin: 0px; padding: 0px 10px; color:#a2a2a2; font-size:10px;">
        <ion-label stacked> FORMULARIO #F931 </ion-label>
      </ion-item>

				<ion-item>             

		             <img [src]="form.image_art" style="max-width: 100% !important; max-height: 200px;">
		    </ion-item>

   <ion-item>
            <button color="dark" class="boton-menu" full ion-button submit  (click)="takePic()">   <ion-icon name="add"></ion-icon> </button>      
    </ion-item>

</ion-list>
<!--FORMULARIO DE ART-->


<!--FORMULARIO DE OTROS-->
<ion-list inset  [hidden]="form.tipo != 'OTROS'">
	  <ion-item>
        <ion-label stacked> DESCRIPCION DEL ASUNTO: </ion-label>
        <ion-textarea [(ngModel)]="form.descripcion" type="text" placeholder="" style="min-height: 200px;"></ion-textarea>
      </ion-item>
</ion-list>
<!--FIN FORMULARIO DE OTROS-->

<ion-list inset  [hidden]="form.tipo != 'AUTO'">
   <ion-label stacked class="me-title-section">DETALLE</ion-label>

      <ion-item>
        <ion-label stacked> MARCA: </ion-label>
        <ion-input [(ngModel)]="form.marca" type="text" placeholder=""></ion-input>
      </ion-item>
    

      <ion-item>
        <ion-label stacked> MODELO: </ion-label>
        <ion-input [(ngModel)]="form.modelo" type="text" placeholder=""></ion-input>
      </ion-item>
    


      <ion-item>
        <ion-label stacked> AÑO: </ion-label>
        <ion-input [(ngModel)]="form.anio" type="text" placeholder=""></ion-input>
      </ion-item>
    
     

       <ion-item>
        <ion-label stacked>DOMINIO:</ion-label>
        <ion-input [(ngModel)]="form.dominio" type="text" placeholder=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>LOCALIDAD:</ion-label>
        <ion-input [(ngModel)]="form.lugar" type="text" placeholder=""></ion-input>
      </ion-item>


      <ion-list radio-group id="combustible" [(ngModel)]="form.combustible" style="margin: 0px; padding: 0px; color:#a2a2a2;">
       <ion-item style="margin: 0px; padding: 0px; color:#a2a2a2; font-size:10px;">
        <ion-label stacked> COMBUSTIBLE: </ion-label>
      </ion-item>
		  <ion-item id="tipo" style="margin: 0px; padding: 0px 10px; color:#a2a2a2; font-size:10px;">
		    <ion-label>NAFTA</ion-label>
		    <ion-radio value="nafta"></ion-radio>
		  </ion-item>

		  <ion-item id="tipo" style="margin: 0px; padding: 0px 10px; color:#a2a2a2; font-size:10px;">
		    <ion-label>DIESEL</ion-label>
		    <ion-radio value="diesel"></ion-radio>
		  </ion-item>

		  <ion-item id="tipo" style="margin: 0px; padding: 0px 10px; color:#a2a2a2; font-size:10px;">
		    <ion-label>GAS</ion-label>
		    <ion-radio value="gnc"></ion-radio>
		  </ion-item>
		 
		</ion-list>

			 <ion-item style="margin: 0px; padding: 0px 10px; color:#a2a2a2; font-size:10px;">
        <ion-label stacked> IMAGENES: </ion-label>
      </ion-item>
				<ion-item>
		      <img [src]="form.image_auto" style="max-width: 100% !important; max-height: 200px;">
		    </ion-item>
      <ion-item>
            <button color="dark" class="boton-menu" full ion-button submit  (click)="takePic()">   <ion-icon name="add"></ion-icon> </button>      
    </ion-item>

    </ion-list>


</ion-content>


<ion-footer>
  <ion-toolbar>
      <button color="dark" class="boton-menu" full ion-button (click)="sendForm(form)" [disabled]="!form.nombre || !form.tipo"> ENVIAR COTIZACION</button>
  </ion-toolbar>
</ion-footer>
