<!--
  Generated template for the ListaSiniestrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="header">
  <ion-navbar>
    <ion-row>
         	
      <ion-col col-12 text-left>
           <ion-title>MIS SINIESTROS</ion-title>
      </ion-col> 
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list style="margin-top: 20px;">
	
	  <ion-item-sliding *ngFor="let s of siniestros; let i = index; " >

	  <ion-item>
	    <h2> {{s.fecha_2[0]}}, {{s.nombre }}</h2>
	    <p>Modelo: {{s.marca}}, {{s.modelo}}</p>
	    <p>Aseguradora: {{s.aseguradora}}</p>
	    <button class="siniestro-boton" ion-button item-end  (click)="onHold(s,i)">  <ion-icon ios="ios-more" md="md-more"></ion-icon>
		</button>
	  </ion-item>

	   <ion-item-options side="left">
		      <button ion-button class="option" [hidden]="s.favorito">
		          <ion-icon ios="ios-heart-outline"></ion-icon>
			  </button>

			  <button ion-button class="option" [hidden]="!s.favorito">
				  <ion-icon ios="ios-heart"></ion-icon>
			  </button>

		     
		    </ion-item-options>

	</ion-item-sliding>
	</ion-list>


</ion-content>


<ion-footer>
  <ion-toolbar>
	    <button color="dark" class="boton-menu" full ion-button (click)="crearSiniestro(null)">Abrir Siniestro</button>
  </ion-toolbar>
</ion-footer>
