page-lista-siniestros {
	
	ion-header{
		img{
		    max-height: 40px;
   			 padding: 4px;
		}
		
		ion-title{    
		    color: gray;
		}

	  	}

	 ion-item-sliding{
	     border-left: 6px solid $primario !important;
	 }
	 ion-item{
	 	border-left: 2px solid #393939 !important;
	    padding: 8px 20px !important !important;
	    margin: 12px 0 !important !important;
	 }
	 ion-item-options{
	 	.option{
	 		background: gray !important;
	 	}
	 }

	 .siniestro-boton{
	    background: #5e5e5e;
	    font-size: 2rem !important;
	    padding: 2rem 1.4rem !important;
	    height: 50px !important;
	    margin: 0px !important;
	}
}

.ios{
	ion-header [text-left]{ 
		padding: 0px !important
	}
	ion-title{    
		    padding: 0px !important;
	}
}